<h4 class="my-text-primary font-weight-bold py-3 mb-4">
  <i class="fas fa-file-alt"></i>&nbsp;
  Complains & Suggestions
</h4>


<div *ngIf="toolService.showLoading" class="sk-bars-loading">
  <div class="sk-wave">
    <div class="sk-rect sk-rect1"></div>
    <div class="sk-rect sk-rect2"></div>
    <div class="sk-rect sk-rect3"></div>
    <div class="sk-rect sk-rect4"></div>
    <div class="sk-rect sk-rect5"></div>
  </div>
</div>



<div class="card" *ngIf="toolService.showLoading == false">

  <!-- Table controls -->
  <div class="card-body">

    <div class="row">
      <div class="col">
        Per page: &nbsp;
        <select [(ngModel)]="perPage" (change)="update()" class="custom-select custom-select-sm d-inline-block w-auto">
          <option *ngFor="let limit of [10, 20, 30, 40, 50]">{{limit}}</option>
        </select>
      </div>
      <div class="col">
        <input type="text" [(ngModel)]="filterVal" (input)="currentPage = 1; update()"
          class="form-control form-control-sm d-inline-block w-auto float-sm-right" placeholder="Search...">
      </div>
    </div>

  </div>
  <!-- / Table controls -->

  <!-- Table -->
  <hr class="border-light m-0">
  <div class="table-responsive">
    <table class="table table-striped table-bordered card-table">
      <thead>
        <tr>
          <th class="text-nowrap text-center cursor-pointer" (click)="setSort('id')">
            #<i class="ion text-muted ml-2" *ngIf="sortBy=='id'"
              [ngClass]="'ion-md-arrow-' + (sortDesc ? 'down' : 'up')"></i>
          </th>
          <th class="text-nowrap cursor-pointer" (click)="setSort('email')">
            Email<i class="ion text-muted ml-2" *ngIf="sortBy=='email'"
              [ngClass]="'ion-md-arrow-' + (sortDesc ? 'down' : 'up')"></i>
          </th>
          <th class="text-nowrap cursor-pointer" (click)="setSort('subject')">
            Subject<i class="ion text-muted ml-2" *ngIf="sortBy=='subject'"
              [ngClass]="'ion-md-arrow-' + (sortDesc ? 'down' : 'up')"></i>
          </th>
          <th class="text-nowrap cursor-pointer" (click)="setSort('message')">
            Message<i class="ion text-muted ml-2" *ngIf="sortBy=='message'"
              [ngClass]="'ion-md-arrow-' + (sortDesc ? 'down' : 'up')"></i>
          </th>
          <th class="text-nowrap cursor-pointer" (click)="setSort('createdAt')">
            Created<i class="ion text-muted ml-2" *ngIf="sortBy=='createdAt'"
              [ngClass]="'ion-md-arrow-' + (sortDesc ? 'down' : 'up')"></i>
          </th>
          <th class="text-nowrap text-center">Delete</th>
        </tr>
      </thead>
      <tbody *ngIf="allContactUs.length > 0">
        <tr *ngFor="let item of allContactUs; index as i">
          <td class="align-middle text-center">{{i + 1}}</td>
          <td class="align-middle">
            <a href="mailto:{{item?.email}}">{{item?.email}}</a>
          </td>
          <td class="align-middle">{{item?.subject}}</td>
          <td class="align-middle">
            {{messageReturner(item?.message, i)?.message}}
            <a href="javascript:void(0)" *ngIf="messageReturner(item?.message, i)?.type == false"
              (click)="messageIndex = i">see more</a>
            <a href="javascript:void(0)" *ngIf="messageReturner(item?.message, i)?.type == true"
              (click)="messageIndex = null">see less</a>
          </td>
          <td class="align-middle text-nowrap">
            <span style="display: none;">{{item?.createdAt}}</span>
            {{item?.createdAt | date:'mediumDate'}} <br>
            {{item?.createdAt | date:'mediumTime'}}
          </td>
          <td class="align-middle text-center">
            <button class="btn btn-sm icon-btn btn-outline-danger m-1"
              (click)="contactUsId=item.id; deleteDialog.show()">
              <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <p *ngIf="allContactUs.length == 0" class="text-center m-3">
      No data found!
    </p>
  </div>
  <!-- / Table -->

  <!-- Pagination -->
  <div class="card-body py-0">

    <div class="row">
      <div class="col-sm text-sm-left text-center pt-3">
        <span class="text-muted" *ngIf="totalItems">Page {{ currentPage }} of {{ totalPages }}</span>
      </div>
      <div class="col-sm pt-3">
        <ngb-pagination [collectionSize]="totalItems" [pageSize]="perPage" [(page)]="currentPage" [maxSize]="1"
          (pageChange)="update()" size="sm" class="d-flex justify-content-center justify-content-sm-end m-0">
        </ngb-pagination>
      </div>
    </div>

  </div>
  <!-- / Pagination -->
</div>



<swal #deleteDialog title="Are you sure?" message="'You won\'t be able to revert this!'" type="warning" [options]="{showCancelButton:
  true, confirmButtonText: 'Yes, delete it!', showCloseButton: true, confirmButtonClass: 'btn btn-lg btn-warning' }"
  (confirm)="onDeleteContactUs()"></swal>