.authentication-wrapper {
  background: #ededed;
}
.form-card {
  border: 1px solid #dddd;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.logo-image {
  width: 150px;
  border-radius: 7.5px;
}
