agm-map {
  width: 100%;
  height: 300px;
}

.datepicker-div {
  margin-top: 39px;
  margin-bottom: 39px;
}

.my-textarea {
  resize: none;
}

.button-col {
  margin-top: 65px;
  // mt-2

  .my-button {
    float: right;
  }
}
